################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RAPTOR-Router/.vs
/.vs/RAPTOR-router/FileContentIndex
/.vs/RAPTOR-router/v17/TestStore/0
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/example-gtfs
/RAPTOR-Router/RAPTOR-Router/bin/Debug/net7.0
/RAPTOR-Router/RAPTOR-Router/obj/Debug/net7.0/ref
/RAPTOR-Router/RAPTOR-Router/obj/Debug/net7.0/refint
/RAPTOR-Router/RAPTOR-Router/obj
/.vs
/RAPTOR-Router/RAPTOR-Router/bin/Release/net7.0
/RAPTOR-Router/RAPTOR-Router/Properties/launchSettings.json
/RAPTOR-Router/CLIApp/bin/Debug/net7.0
/RAPTOR-Router/CLIApp/obj
/RAPTOR-Router/WebAPI/bin/Debug/net7.0
/RAPTOR-Router/WebAPI/obj/Debug/net7.0
/RAPTOR-Router/WebAPI/obj
/RAPTOR-Router/ConnectionSearchTests/bin/Debug/net7.0
/RAPTOR-Router/ConnectionSearchTests/obj/Debug/net7.0
/RAPTOR-Router/CLIApp/bin/Release/net7.0
/RAPTOR-Router/ConnectionSearchTests/bin/Release/net7.0
/RAPTOR-Router/ConnectionSearchTests/obj/Release/net7.0
/RAPTOR-Router/ConnectionSearchTests/obj
/RAPTOR-Router/GUI/bin/Debug/net7.0-windows
/RAPTOR-Router/GUI/bin/Release/net7.0-windows
/RAPTOR-Router/GUI/obj/Debug/net7.0-windows
/RAPTOR-Router/GUI/obj
/RAPTOR-Router/WebAPI/bin/Release/net7.0
/RAPTOR-Router/WebAPI-light/bin
/RAPTOR-Router/WebAPI-light/obj
/RAPTOR-Router/WebAPI-light/Properties/PublishProfiles
/RAPTOR-Router/WebAPI-light/publish
/RAPTOR-Router/OSMRouter/bin
/RAPTOR-Router/OSMRouter/obj
/RAPTOR-Router/OSMRouter/data
/RAPTOR-Router/data
/RAPTOR-Router/RAPTOR-Router/.vs
/RAPTOR-Router/Visual Studio 2022/Visualizers
/RAPTOR-Router/RAPTOR-Router.sln.DotSettings.user
/RAPTOR-Router/WebAPI/WebAPI.http
/RAPTOR-Router/RAPTOR-Router/data/golemio_api_key.txt
/RAPTOR-Router/config.json
